<div >
	<%= render "header", product: @product %>
	<br></br>
<div >
	
	
	<br></br>
	<div style="width:100%; "	>
		<table style="width:100%; border:1px soild " >
			<tr style="width:100%; text-align: left; border: 1px soild black">
				<th>S.No</th>
				<th>Product Name</th>
				<th>Product Feature</th>
				<th>Product price</th>
			</tr>
			<% temp=1 %>
				<% @products.each do |product|%>
					<tr style="width:100%">
						<td><%= temp %></td>
						<td style="text-decoration: none;" ><%= link_to product.name, product  %></td>
						<td><%= product.feature %></td>
						<td><%= product.price %> rs</td>
						<% temp+=1 %>
					</tr>
				<% end%>
		<table>
		<br></br>
		<%= link_to "New",new_product_path(@product), class:"btn btn-primary"  %>		

	</div>
</div>
</div>
